$flex-box-row-center: row, center, center;
$flex-box-row-left: row, flex-start, center;
$flex-box-row-between: row, space-between, center;
$flex-box-col-left: column, center, flex-start;

///@mixin

@mixin flex-box ($flow, $justify, $align) {
  display: flex;
  flex-flow: $flow wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition($property: all, $time: 0.3s) {
  transition: $property $time ease-in-out;
}

@mixin init-font ($font-size, $font-weight) {
  font: {
    size: $font-size;
    weight: $font-weight;
  }
  line-height: $font-size + 4px;
}

@mixin text-shadow($dim, $shadow, $color: rgba(0,0,0,0.8)) {
  text-shadow: $dim $dim $shadow $color ;
}

@mixin box-shadow($dim, $shadow, $color: rgba(0,0,0,0.8)) {
  box-shadow: $dim $dim $shadow $color;
}

///@extend
%image-container {
  img {
    width: 100%;
    height: 100%;
  }
}

%absolute-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}