@import "./partial/reset";
@import "./partial/fonts";
@import "./partial/animations";
@import "./partial/mixins";
@import "./partial/variables";

* {
  transition: all .2s ease-in-out;
}

body {
  background-color: $color-grey-background;
  color: $color-grey-norm;
  font-family: "HelveticaNeueCyr-Light", sans-serif;
  user-select: none;

  @include init-font(25px, 400);
}

.top-wrapper {
  max-width: $maxWidth;
  margin: 0 auto;
}

h2 {
  @include init-font(50px, 400);

  text-transform: capitalize;
  color: $color-violet-light;
}

h3 {
  @include init-font(32px, 400);

  text-transform: capitalize;
  color: $color-violet-light;
}

.image-container {
  display: inline-block;
  @extend %image-container;

  &.goods {
    width: 90px;
    height: 90px;
    padding: 1px; //for making border-radius, when inner image is 100% of width/height
    border: 1px solid $color-grey-light;
    border-radius: 5px;
  }
}

header {
  padding: 20px 0;
  background-color: $color-white;
  border-bottom: 2px solid $color-pink;

  .#{&}__logo-image {
    width: 50px;
    height: 50px;
  }

  .#{&}__logo-heading {
    display: inline-block;
    @include init-font(36px, 400);

    color: $color-violet-light;
    margin-left: 15px;
  }

  .#{&}__cart-span {
    display: inline-block;
    @include init-font(32px, 400);

    color: $color-pink;
    margin-right: 10px;
  }

  .#{&}__cart-icon-block {
    position: relative;
    width: 40px;
    height: 40px;
  }

  .top-wrapper {
    padding: 0 15px;
    padding-right: 30px;
  }
}

#cart__qnty {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  top: -3px;
  right: -13px;
  color: $color-white;
  background-color: $color-pink;

  &:hover {
    animation: popup .4s ease infinite;
    cursor: pointer;
  }
}

main {
  @include flex-box($flex-box-row-center...);

  align-items: flex-start;
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(153, 153, 153, .2),
  -0 -0 20px rgba(153, 153, 153, .2);

  &.top-wrapper {
    margin: 90px auto;
    min-height: 1180px;
  }

  .person-info {
    flex-basis: 800px;
    padding-top: 45px;
    padding-bottom: 90px;
  }

  .cart-info {
    position: relative;
    flex-basis: 600px;
    padding: 45px 10px 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $color-grey-lightest;

    &.ready {
      &:after {
        @extend %absolute-cover;
        content: "";
        background-color: rgba(255, 255, 255, .5);
      }
    }

    &__heading {
      @include flex-box($flex-box-row-between...);

      padding: 0 15px;
      margin-bottom: 30px;
    }

    &__total {
      padding: 25px 15px 70px;

      &__row {
        margin: 15px auto;

        &.total {
          color: $color-violet;
          @include init-font(25px, 600);
        }
      }

      hr {
        margin-top: 15px;
        margin-bottom: 25px;
      }
    }

    .cart-item {
      padding: 20px 15px;

      @include flex-box($flex-box-row-between...);
      align-items: flex-start;

      &__info {
        display: inline-block;
        margin-left: 15px;
        width: 445px;
      }
      &__spec {
        @include init-font(20px, 600);
        color: $color-grey-dark;
        margin-top: 5px;
        span {
          display: block;
          padding-top: 5px;
        }
        span[data-cart="itemQnty"] {
          display: inline-block;
          margin-left: 5px;
          padding: 0;
        }
      }
    }

    hr {
      width: 100%;
      height: 2px;
      background-color: $color-grey-light;
    };

    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 15px 0;
      span {
        @include init-font(20px, 400);
        margin-left: 70px;
      }
    }
  }
}

#order-form {
  width: 650px;
  margin: 0 auto;

  .form__block {
    display: none;  //the blocks will be shown by .active

    &.active {
      display: block;
    }

    h2 {  //all properties are in global
      margin-top: 50px;
    }

    h3 {
      margin-top: 45px; //all properties are in global
    }

    &__comment {
      display: inline-block;
      margin-top: 10px;
      margin-left: 17px;
      width: 200px;
    }

    &__secure {
      margin-top: 30px;

      .image-container {
        float: left;
        position: relative;
        width: 30px;
        height: 40px;
        margin-right: 15px;

        &:after {
          display: block;
          position: absolute;
          content: "";
          width: 20px;
          height: 20px;
          top: 28px;
          right: -5px;
          background: url("../img/checked.png") center/cover;
        }
      }

      span {
        line-height: 50px;
      }
    }

    .comment {
      color: $color-violet-light;
      line-height: 40px;
      font-weight: 400;
      text-decoration: underline;
    }

    .card-date-wrapper {
      div:not(:first-of-type) {
        margin-left: 50px;
      }
    }
  }
}

#order-edit {
  display: inline-block;
  border-bottom: 2px solid $color-grey-light;

  &:hover {
    color: $color-violet-light;
    border-bottom-color: $color-violet-light;
    transform: translateX(-5px);
    cursor: pointer;
  }
}

#form__stage-wrapper {  //will be searched by JS
  @include flex-box($flex-box-row-left...);

  span {
    margin: 0 20px;

    &:first-of-type {
      margin-left: 0;
    }

    &.active {
      color: $color-pink;
      font-weight: 700;
    }
  }

  img {
    width: 40px;
    height: 40px;
  }
}

.input-wrapper {
  position: relative; //for alarm messages
  display: inline-block;
  margin-top: 10px;
  padding: 1px;
  border: 3px solid transparent;
  border-radius: 13px;

  &.active {
    border-color: $color-grey-light;
  }

  &.target-sign {
    position: relative;
    .form__input {
      padding-right: 60px;
    }

    &::after {
      position: absolute;
      top: 20px;
      right: 20px;
      content: "";
      width: 40px;
      height: 40px;
      background: url("../img/target.png") center/cover;
    }
  }

  &.card-type {
    &::after {
      display: block;
      position: absolute;
      top: 25px;
      right: 20px;
      content: "";
      width: 100px;
      height: 35px;
      background: url("../img/visa.png") center/cover; //for possible change the type by JS (visa, payPal....)
    }
  }

  &.selection {
    .selection__block {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      cursor: pointer;

      &.active {
        &::before {
          display: block;
          position: absolute;
          z-index: 10;
          top: 33%;
          left: 30px;
          content: "";
          width: 25px;
          height: 25px;
          background: url("../img/search.png") center/cover;
          animation: popup .4s ease infinite;
        }
      }

      &::after {
        display: block;
        position: absolute;
        top: 35%;
        right: 25px;
        content: "";
        width: 30px;
        height: 30px;
        background: url("../img/arrow-down.png") center/cover;
      }

      span {
        font-weight: 400;
        color: $color-grey-norm;
      }
    }

    .option__block {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: $color-white;
      border: 2px solid $color-grey-light;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      transform-origin: 50% 100%;

      &.active {
        display: block;
      }

      .option-wrapper {
        max-height: 660px;
        overflow-x: hidden;
        overflow-y: auto;

        span {
          display: block;

          @include init-font(32px, 400);

          color: $color-grey-dark;
          padding: 10px 30px;

          &:hover {
            background: $color-grey-lightest;
            cursor: pointer;
          }
        }
      }

      input {
        width: 100%;
        padding-left: 70px;
        border: none;
        border-top: 2px solid $color-grey-light;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        &:focus::placeholder {
          visibility: hidden;
        }
      }
    }
  }

  .alert-message {
    display: inline-block;
    position: absolute;
    z-index: 10;
    top: -80%;
    left: -20px;
    @include init-font(25px, 400);
    min-width: 440px;
    padding: 15px 25px;
    padding-right: 10px;
    color: $color-alert;
    background: $color-white;
    border: 2px solid $color-grey-light;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    &:after, &:before {
      position: absolute;
      content: "";
      top: 100%;
      left: 15%;
      width: 0;
      height: 0;
      border: solid transparent;
      pointer-events: none;
    }

    &:before {
      border: {
        color: rgba(194, 225, 245, 0);
        top-color: $color-grey-light;
        width: 15px;
      }
      margin-left: -15px;
    }
    &:after {
      border: {
        color: rgba(194, 225, 245, 0);
        top-color: $color-white;
        width: 13px;
      }
      margin-left: -13px;
    }
  }
}

.form__input {
  display: block;
  width: 640px;
  height: 80px;

  font-family: "HelveticaNeueCyr-Light", sans-serif;
  color: $color-grey-dark;

  @include init-font(32px, 600);

  border-radius: 10px;
  border: 2px solid $color-grey-light;
  padding: 0 30px;

  &:focus {
    border-color: $color-violet-light;
  }

  &::placeholder {
    color: $color-grey-norm;
    font-weight: 400;
  }

  &.part-width-smaller {
    width: 360px;
  }

  &.part-width-small {
    width: 240px;
  }

  &.part-width-smallest {
    width: 190px;
    text-align: center;
  }
}

.button_continue {
  display: inline-block;
  width: 360px;
  height: 90px;
  @include init-font(32px, 400);

  text-align: center;
  line-height: 90px;
  margin-top: 40px;
  color: $color-white;
  background-color: $color-violet-light;
  border: 2px solid $color-violet;
  border-radius: 10px;

  &:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 7px rgba(0,0,0, 0.8);
    cursor: pointer;
  }
}

.thankU-wrapper {
  padding: 90px;
  color: $color-grey-dark;
  display: none;

  p {
    @include init-font(30px, 400);
  }

  &__resultLink {
    display: inline-block;
    margin-top: 70px;
    color: $color-violet;
    font-weight: 800;
    border-bottom: 1px solid $color-violet;

    &:hover {
      animation: popup 0.4s ease;
    }
  }

  .order-info {
    font-weight: 600;
    margin-top: 60px;
  }

  .deliver-info {
    margin-top: 60px;
  }

  &.active {
    display: block;
  }
}

#payer-email {
  font-weight: 500;
  color: $color-violet;
  text-decoration: underline;
}

#shipment-date {
  font-weight: 800;
}

footer {
  padding: 20px 0;
  background-color: $color-white;
  border-top: 2px solid $color-pink;
}

///////////OPTION
.marked {
  background-color: $color-yellow;
}

.red {
  color: $color-alert !important; //for JS (separate classes has low priority when added);
}

.bold {
  color: $color-grey-dark !important; //for JS (separate classes has low priority when added);
  font-weight: 600 !important; //for JS (separate classes has low priority when added);
}

.display-none {
  display: none !important;
}

.flex-box {
  display: flex;
  flex-flow: row wrap;
  &.column {
    flex-flow: column nowrap;
  }
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.left {
    justify-content: flex-start;
    align-items: center;
  }
  &.between {
    justify-content: space-between;
  }
  &.end {
    align-items: flex-end;
  }
  &.top {
    align-items: flex-start;
  }
}

.push-top_30 {
  margin-top: 30px !important;
}

.push-bottom_30 {
  margin-bottom: 30px !important;
}